@model IEnumerable<TeamsWebApp.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </tr>
}
    </tbody>
</table>

<p>
    <a onclick="showPopup('@Url.Action("ShowChats","Messages", null,Context.Request.Scheme)','Users Chats')" class="btn btn-primary"><i class="fas fa-random"></i>Show Chats</a>
</p>
